// bower:scss
// endbower

//Imports
@import "animate";
@import "variables";

//General Styles
html {
    background-color: $pageBg;
}

body {
    background-color: transparent;
    color: $standard;
    font-family: 'Open Sans', sans-serif;
}

//Our container for the app
.container {

    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

//Our Header Card
.formCard {
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: block;
    background-color: $cardBg;


    //Coffe Cup Logo
    .coffeeLogo {
        font-size: 0.35em;
        background-color: transparent;
        color: $standard;
        display: block;
        width: 200px;
        margin-left: auto;
        margin-right: auto;

        //Centered above, but the white space is acting weird
        //So center it back
        pre {
            margin-left: -47px;
        }
    }

    //Our headers
    h1 {
        text-align: center;
        font-weight: bold;
    }

    h2 {
        text-align: center;
        font-weight: lighter;
    }
}
