// bower:scss
// endbower

//Imports
@import "yeomanDefault";
@import "animate";
@import "variables";

//Coffe Cup Logo
.coffeeLogo {
    font-size: 0.25em;
    background-color: transparent;
    color: #000000;
    display: inline-block;
}
