
<!-- Our main Headr card -->
<div class = "formCard md-whiteframe-10dp animated fadeIn"
ng-style = "cardHeight">

    <!-- Coffee Cup Logo -->
    <div class = "animated slideInUp"
    ng-include="'../views/coffeelogo.html'">
    </div>

    <h1>code + coffee / long beach</h1>
    <h2>Sign In!</h2>

    <!-- Our first form asking for name and email -->
    <form
    ng-if="formNum == 1">

        <!-- User first name -->
        <md-input-container class = "inputContainer md-icon-float md-block">
            <label
            class = "iconMargin">
            First Name
            </label>

            <md-icon class="material-icons inputIcon"
            aria-label="face">
            face
            </md-icon>

            <input type="text" ng-model="formData.fName"
              class = "cardInput iconMargin"
              autocomplete="off"  autocorrect="off"
              autocapitalize="none" spellcheck="false"
              required>
         </md-input-container>

      <!-- User Last Name -->
      <md-input-container class = "inputContainer">
          <label
          class = "iconMargin">
          Last Name
        </label>

          <md-icon class="material-icons inputIcon"
          aria-label="account_circle">
          account_circle
          </md-icon>


          <input type="text" ng-model="formData.lName"
            class = "cardInput iconMargin"
            autocomplete="off"  autocorrect="off"
            autocapitalize="none" spellcheck="false"
            required>
       </md-input-container>

        <!-- Email field to be validated on keydown and up -->
        <md-input-container class = "inputContainer">
            <label
            class = "iconMargin">
            E-mail
            </label>

            <md-icon class="material-icons inputIcon"
            aria-label="mail_outline">
            mail_outline
            </md-icon>

            <input type="email" ng-model="formData.email"
              class = "cardInput iconMargin"
              ng-change="validateEmail()"
              autocomplete="off"  autocorrect="off"
              autocapitalize="none" spellcheck="false"
              required>
         </md-input-container>

          <!-- Button to submit the info -->
          <div class = "center">
              <md-button ng-click="submitSignIn(2, '722px')"
              ng-hide="!formData.fName ||
              formData.fName < 1 ||
              !formData.lName ||
              formData.lName < 1 ||
              !formData.email ||
              !validEmail"
              class="formButton md-raised">
              Log In
              </md-button>
          </div>

    </form>

    <!-- Our second Form asking for opt-ins -->


</div>
