
<!-- Our main Headr card -->
<div class = "formCard md-whiteframe-10dp animated fadeIn">

    <!-- Coffee Cup Logo -->
    <div class = "animated slideInUp"
    ng-include="'../views/coffeelogo.html'">
    </div>

    <h1>code + coffee / long beach</h1>
    <h2>Join us!</h2>

    <!-- Our first form asking for name and email -->
    <form>

        <!-- User first name -->
        <md-input-container>
            <md-icon class="material-icons prefix"
            aria-label="accessibility">
            accessibility
            </md-icon>

            <label>First Name</label>
            
            <input type="text" ng-model="formData.fName"
              autocomplete="off"  autocorrect="off"
              autocapitalize="none" spellcheck="false"
              required>
         </md-input-container>

      <!-- User Last Name -->
      <md-input-container>
          <md-icon class="authIcons material-icons prefix">account_circle</md-icon>
          <label>Last Name</label>
          <input type="text" ng-model="formData.lName"
            placeholder="Coffee"
            autocomplete="off"  autocorrect="off"
            autocapitalize="none" spellcheck="false"
            required>
       </md-input-container>

        <!-- Email field to be validated on keydown and up -->
        <md-input-container class = "authInputContainer">
            <md-icon class="authIcons material-icons prefix">account_circle</md-icon>
            <label>E-mail</label>
            <input type="email" ng-model="formData.email"
              placeholder="example@example.com"
              ng-keydown="validateEmail()"
              ng-keyup="validateEmail()"
              autocomplete="off"  autocorrect="off"
              autocapitalize="none" spellcheck="false"
              required>
         </md-input-container>

          <!-- Button to submit the info -->


    </form>
</div>
